<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
  <!-- Override to MessageFormatter to fix bug with variables rendering as {0} both frontend and backend -->
  <preference for="Magento\Framework\Phrase\Renderer\MessageFormatter" type="ABDev\AmastyOverrides\Framework\Phrase\Renderer\MessageFormatter" />
</config>
